<h3><%= @oven.name %></h3>

<div class="cookie-info">
  Cookie in oven:
  <% if @oven.cookie.present? %>
    <% @oven.cookie.each do |cookie| %>
      <div class="">
        1 cookie with <%= cookie.fillings || "no fillings" %>
          <% if cookie.ready? %>
          (Your Cookie is Ready)
          <% end %>
        <% end %>
      </div>
    <%= button_to "Retrieve Cookie", empty_oven_path, class: 'button tiny' %>
  <% else %>
    None
  <% end %>
</div>

<br/>
<%= link_to "Prepare Cookie", new_oven_cookies_path(@oven), class: 'button' %>
